<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1> Registration in member </h1>

<!-- @GetMapping 에서 넘겨준 Model의 Attribute: member -->
<form action="#" th:action="@{'/members'}" th:object="${member}" th:method="post">
    Seq : <input type="text" name="seq" th:field="*{seq}"/><br>
    id(*) : <input type="text" name="id" th:field="*{id}"/><br>
    pw(*) : <input type="password" name="pw" th:field="*{pw}"/><br>
    name(*) : <input type="text" name="name" th:field="*{name}"/><br>
    email(*) : <input type="text" name="email" th:field="*{email}"/><br>
    phone : <input type="text" name="phone" th:field="*{phone}"/><br>
    address : <input type="text" name="address" th:field="*{address}"/><br>
    <input type="submit" value="Register"/><input type="reset" value="Reset"/>
</form>

</body>
</html>