<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1> Update in member </h1>

<form action="#" th:action="@{'/members/' + ${member.seq}}" th:object="${member}" th:method="put">
    Seq : <input type="text" name="seq" th:field="*{seq}"/><br>
    id(*) : <input type="text" name="id" th:field="*{id}"/><br>
    <!--  password 타입은 값이 표시되지 않음  -->
    pw(*) : <input type="password" name="pw" th:field="*{pw}"/><br>
    name(*) : <input type="text" name="name" th:field="*{name}"/><br>
    email(*) : <input type="text" name="email" th:field="*{email}"/><br>
    phone : <input type="text" name="phone" th:field="*{phone}"/><br>
    address : <input type="text" name="address" th:field="*{address}"/><br>
    <input type="submit" value="Update"/><input type="reset" value="Reset"/>
</form>

<a th:href="@{'/members'}">list</a>

</body>
</html>