<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Memos</h1>

<table border="1" width="50%" height="50px">
    <tr>
        <td>mno</td>
        <td>memoText</td>
    </tr>
    <tr th:each="memo : ${list}">
        <td>
            <a th:href="@{'/memos/' + ${memo.mno}}">
                <span th:text="${memo.mno}"></span>
            </a>
        </td>
        <td><span th:text="${memo.memoText}"></span></td>
    </tr>
</table>

</body>
</html>